In [1]:
import pandas as pd
import numpy as np

catalogo = pd.read_csv('data/catalogo_colonias.csv', encoding = "ISO-8859-1")

catalogo

,estado,cve_estado,municipio,cve_municipio,cve_mun,colonia,cve_colonia
0,Aguascalientes,1,Aguascalientes,1,1001,San Jose Del Arenal,10010001
1,Aguascalientes,1,Aguascalientes,1,1001,San Jose,10010002
2,Aguascalientes,1,Aguascalientes,1,1001,Arellano,10010003
3,Aguascalientes,1,Aguascalientes,1,1001,Jose Lopez Portillo,10010004
4,Aguascalientes,1,Aguascalientes,1,1001,Canteras De San Jose,10010005
...,...,...,...,...,...,...,...
87742,Zacatecas,32,Trancoso,57,32057,San Jose Del Carmen (El Carmen),320570015
87743,Zacatecas,32,Trancoso,57,32057,La Embarcacion,320570016
87744,Zacatecas,32,Santa Maria de la Paz,58,32058,Santa Maria De La Paz,320580001
87745,Zacatecas,32,Santa Maria de la Paz,58,32058,Nueva Santa Maria,320580002
87746,Zacatecas,32,Santa Maria de la Paz,58,32058,El Rosario,320580003

In [20]:
catalogo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87747 entries, 0 to 87746
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   estado         87747 non-null  object
 1   cve_estado     87747 non-null  int64
 2   municipio      87747 non-null  object
 3   cve_municipio  87747 non-null  int64
 4   cve_mun        87747 non-null  int64
 5   colonia        87747 non-null  object
 6   cve_colonia    87747 non-null  int64
dtypes: int64(4), object(3)
memory usage: 4.7+ MB

In [21]:
catalogo.describe().T

,count,mean,std,min,25%,50%,75%,max
cve_estado,87747.0,1.719449e+01,8.180071e+00,1.0,11.0,16.0,24.0,32.0
cve_municipio,87747.0,5.450797e+01,7.030903e+01,1.0,13.0,34.0,70.0,570.0
cve_mun,87747.0,1.724900e+04,8.194362e+03,1001.0,11020.0,16067.0,24013.0,32058.0
cve_colonia,87747.0,1.724901e+08,8.194360e+07,10010001.0,110200499.5,160670047.0,240130180.5,320580003.0

In [22]:
catalogo.isnull().sum()

estado           0
cve_estado       0
municipio        0
cve_municipio    0
cve_mun          0
colonia          0
cve_colonia      0
dtype: int64

In [23]:
catalogo.drop_duplicates()

,estado,cve_estado,municipio,cve_municipio,cve_mun,colonia,cve_colonia
0,Aguascalientes,1,Aguascalientes,1,1001,San Jose Del Arenal,10010001
1,Aguascalientes,1,Aguascalientes,1,1001,San Jose,10010002
2,Aguascalientes,1,Aguascalientes,1,1001,Arellano,10010003
3,Aguascalientes,1,Aguascalientes,1,1001,Jose Lopez Portillo,10010004
4,Aguascalientes,1,Aguascalientes,1,1001,Canteras De San Jose,10010005
...,...,...,...,...,...,...,...
87742,Zacatecas,32,Trancoso,57,32057,San Jose Del Carmen (El Carmen),320570015
87743,Zacatecas,32,Trancoso,57,32057,La Embarcacion,320570016
87744,Zacatecas,32,Santa Maria de la Paz,58,32058,Santa Maria De La Paz,320580001
87745,Zacatecas,32,Santa Maria de la Paz,58,32058,Nueva Santa Maria,320580002
87746,Zacatecas,32,Santa Maria de la Paz,58,32058,El Rosario,320580003

In [24]:
catalogo['cve_estado'].apply(type).value_counts()

<class 'int'>    87747
Name: cve_estado, dtype: int64

In [25]:
catalogo['cve_municipio'].apply(type).value_counts()

<class 'int'>    87747
Name: cve_municipio, dtype: int64

In [26]:
catalogo['cve_mun'].apply(type).value_counts()

<class 'int'>    87747
Name: cve_mun, dtype: int64

In [27]:
catalogo['cve_colonia'].apply(type).value_counts()

<class 'int'>    87747
Name: cve_colonia, dtype: int64

In [2]:
catalogo['cve_colonia'][13238]

80210058

In [13]:
catalogo.to_csv('data/newCatalogoColonias.csv', index=False, encoding='utf-8')

In [16]:
newCatalogo = pd.read_csv('data/catalogo_colonias.csv', encoding = "ISO-8859-1")

newCatalogo

,estado,cve_estado,municipio,cve_municipio,cve_mun,colonia,cve_colonia
0,Aguascalientes,1,Aguascalientes,1,1001,San Jose Del Arenal,10010001
1,Aguascalientes,1,Aguascalientes,1,1001,San Jose,10010002
2,Aguascalientes,1,Aguascalientes,1,1001,Arellano,10010003
3,Aguascalientes,1,Aguascalientes,1,1001,Jose Lopez Portillo,10010004
4,Aguascalientes,1,Aguascalientes,1,1001,Canteras De San Jose,10010005
...,...,...,...,...,...,...,...
87742,Zacatecas,32,Trancoso,57,32057,San Jose Del Carmen (El Carmen),320570015
87743,Zacatecas,32,Trancoso,57,32057,La Embarcacion,320570016
87744,Zacatecas,32,Santa Maria de la Paz,58,32058,Santa Maria De La Paz,320580001
87745,Zacatecas,32,Santa Maria de la Paz,58,32058,Nueva Santa Maria,320580002
87746,Zacatecas,32,Santa Maria de la Paz,58,32058,El Rosario,320580003